---
title: Eleventy Title from Data
---
{% include head.html %}
<body>
{% include header.html %}
{% include carousel.html %}

<div id="wrap" class="container margin-top" role="document">

    <div id="content" class="row-fluid">


        <div id="main" class="span12" role="main">
            <div class="span6"><img data-attachment-id="13594" data-permalink="https://exceptionless.com/home/codesmith-client-logo-bar-left/" data-orig-file="https://exceptionless.com/assets/codesmith-client-logo-bar-left.png" data-orig-size="588,150" data-comments-opened="1" data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;0&quot;}" data-image-title="codesmith-client-logo-bar-left" data-image-description="<p>Exceptionless Customers &amp; Users</p>
" data-medium-file="https://exceptionless.com/assets/codesmith-client-logo-bar-left-300x77.png" data-large-file="https://exceptionless.com/assets/codesmith-client-logo-bar-left.png" loading="lazy" class="aligncenter size-full wp-image-13594" src="http://exceptionless.com/assets/codesmith-client-logo-bar-left.png" alt="Exceptionless Customers &amp; Users" width="588" height="150" data-id="13594" srcset="https://exceptionless.com/assets/codesmith-client-logo-bar-left.png 588w, https://exceptionless.com/assets/codesmith-client-logo-bar-left-300x77.png 300w" sizes="(max-width: 588px) 100vw, 588px"></div>
            <div class="span6"><img data-attachment-id="13593" data-permalink="https://exceptionless.com/home/codesmith-client-logo-bar-right/" data-orig-file="https://exceptionless.com/assets/codesmith-client-logo-bar-right.png" data-orig-size="582,150" data-comments-opened="1" data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;0&quot;}" data-image-title="codesmith-client-logo-bar-right" data-image-description="<p>Exceptionless Users &amp; Customers</p>
" data-medium-file="https://exceptionless.com/assets/codesmith-client-logo-bar-right-300x77.png" data-large-file="https://exceptionless.com/assets/codesmith-client-logo-bar-right.png" loading="lazy" class="aligncenter size-full wp-image-13593" src="http://exceptionless.com/assets/codesmith-client-logo-bar-right.png" alt="Exceptionless Users &amp; Customers" width="582" height="150" data-id="13593" srcset="https://exceptionless.com/assets/codesmith-client-logo-bar-right.png 582w, https://exceptionless.com/assets/codesmith-client-logo-bar-right-300x77.png 300w" sizes="(max-width: 582px) 100vw, 582px"></div>
            <h1 style="margin-bottom: 15px;">What Is Exceptionless?</h1>
            <div style="font-size: 14px;">
                <p><strong>The definition of the word exceptionless is: <em style="color: #f27f1e;">to be without exception</em></strong>. Our product provides real-time error, feature, and log reporting for your ASP.NET, Web API, WebForms, WPF, Console, and MVC apps. It organizes the gathered information into simple actionable data that will help your app become exceptionless. Best of all, it’s <a title="Exceptionless on GitHub" href="https://github.com/exceptionless/Exceptionless" target="_blank">open source</a>!</p>
                <ul class="icons clearfix" style="margin-top: 20px;">
                    <li>
                        <div class="icon-bullhorn icon-large"></div>
                        <div class="feature">Error <strong>notifications</strong>, including critical and regressions</div>
                    </li>
                    <li>
                        <div class="icon-signal icon-large"></div>
                        <div class="feature">Easily see <strong>top errors</strong> and prioritize them</div>
                    </li>
                    <li>
                        <div class="icon-link icon-large"></div>
                        <div class="feature">Intelligent <strong>grouping</strong> of exceptions, logs, and features</div>
                    </li>
                    <li>
                        <div class="icon-dashboard icon-large"></div>
                        <div class="feature"><strong>Dashboard</strong> with event stats and trends</div>
                    </li>
                    <li>
                        <div class="icon-eye-open icon-large"></div>
                        <div class="feature"><strong>Detailed</strong> error reports, including stacktrace</div>
                    </li>
                    <li>
                        <div class="icon-paper-clip icon-large"></div>
                        <div class="feature">Add any <strong>custom objects</strong> to your events</div>
                    </li>
                    <li>
                        <div class="icon-group icon-large"></div>
                        <div class="feature"><strong>Unlimited users</strong> per organization</div>
                    </li>
                    <li>
                        <div class="icon-ok icon-large"></div>
                        <div class="feature">Mark exceptions as <strong>fixed</strong>, monitor for regressions</div>
                    </li>
                    <li>
                        <div class="icon-bolt icon-large"></div>
                        <div class="feature"><strong>Real-time</strong> view of events as they happen</div>
                    </li>
                    <li>
                        <div class="icon-warning-sign icon-large"></div>
                        <div class="feature">Ability to mark events as being <strong>critical</strong></div>
                    </li>
                    <li>
                        <div class="icon-plane icon-large"></div>
                        <div class="feature"><strong>Supports offline</strong> and occasionally connected scenarios</div>
                    </li>
                    <li>
                        <div class=" icon-cloud-download icon-large"></div>
                        <div class="feature"><strong>Easy setup</strong> in less than 5 minutes</div>
                    </li>
                </ul>
            </div>
            <h2 style="margin-top: 20px;">How Does It Work?</h2>
            <div class="howDoesWork">
                <div class="howDoesWorkSection">
                    <h4>1. <a title="Create a free Exceptionless account" href="https://be.exceptionless.io/signup?domain=www.codesmithtools.com&amp;type=organic">Create a free account</a></h4>
                    <p>Signup in seconds – No credit card required</p>
                </div>
                <div class="howDoesWorkArrow">›</div>
                <div class="howDoesWorkSection">
                    <h4>2. Install the client</h4>
                    <p>Install the Exceptionless client from NuGet</p>
                </div>
                <div class="howDoesWorkArrow">›</div>
                <div class="howDoesWorkSection">
                    <h4>3. See your exceptions</h4>
                    <p>Done – Start tracking &amp; fixing those exceptions!</p>
                </div>
                <div style="clear: both;"></div>
            </div>
            <div class="signup center"><a class="btn btn-large btn-primary" href="https://be.exceptionless.io/signup?domain=www.codesmithtools.com&amp;type=organic">Sign Up For <strong>FREE</strong> Now!</a></div>
            <h2>What Our Customers Say</h2>
            <p><!-- TO INSERT TWEETS, LINE BREAK AFTER OPENING DIV, PASTE TWEET URL, LINE BREAK, CLOSE DIV --></p>
            <div class="tweet">
                <div class="entry-content-asset">
                    <div class="twitter-tweet twitter-tweet-rendered" style="display: flex; max-width: 550px; width: 100%; margin-top: 10px; margin-bottom: 10px;"><iframe id="twitter-widget-0" scrolling="no" frameborder="0" allowtransparency="true" allowfullscreen="true" class="" style="position: static; visibility: visible; width: 363px; height: 245px; display: block; flex-grow: 1;" title="Twitter Tweet" src="https://platform.twitter.com/embed/index.html?creatorScreenName=exceptionless&amp;dnt=true&amp;embedId=twitter-widget-0&amp;frame=false&amp;hideCard=false&amp;hideThread=false&amp;id=370954480088408064&amp;lang=en&amp;origin=https%3A%2F%2Fexceptionless.com%2F&amp;siteScreenName=exceptionless&amp;theme=light&amp;widgetsVersion=ed20a2b%3A1601588405575&amp;width=550px" data-tweet-id="370954480088408064"></iframe></div>
                    <p><script async="" src="https://platform.twitter.com/widgets.js" charset="utf-8"></script></p></div>
            </div>
            <div class="tweet">
                <div class="entry-content-asset">
                    <div class="twitter-tweet twitter-tweet-rendered" style="display: flex; max-width: 550px; width: 100%; margin-top: 10px; margin-bottom: 10px;"><iframe id="twitter-widget-1" scrolling="no" frameborder="0" allowtransparency="true" allowfullscreen="true" class="" style="position: static; visibility: visible; width: 363px; height: 510px; display: block; flex-grow: 1;" title="Twitter Tweet" src="https://platform.twitter.com/embed/index.html?creatorScreenName=exceptionless&amp;dnt=true&amp;embedId=twitter-widget-1&amp;frame=false&amp;hideCard=false&amp;hideThread=false&amp;id=332176856784723968&amp;lang=en&amp;origin=https%3A%2F%2Fexceptionless.com%2F&amp;siteScreenName=exceptionless&amp;theme=light&amp;widgetsVersion=ed20a2b%3A1601588405575&amp;width=550px" data-tweet-id="332176856784723968"></iframe></div>
                    <p><script async="" src="https://platform.twitter.com/widgets.js" charset="utf-8"></script></p></div>
            </div>
            <div class="tweet">
                <div class="entry-content-asset">
                    <div class="twitter-tweet twitter-tweet-rendered" style="display: flex; max-width: 550px; width: 100%; margin-top: 10px; margin-bottom: 10px;"><iframe id="twitter-widget-2" scrolling="no" frameborder="0" allowtransparency="true" allowfullscreen="true" class="" style="position: static; visibility: visible; width: 363px; height: 510px; display: block; flex-grow: 1;" title="Twitter Tweet" src="https://platform.twitter.com/embed/index.html?creatorScreenName=exceptionless&amp;dnt=true&amp;embedId=twitter-widget-2&amp;frame=false&amp;hideCard=false&amp;hideThread=false&amp;id=332173840220303361&amp;lang=en&amp;origin=https%3A%2F%2Fexceptionless.com%2F&amp;siteScreenName=exceptionless&amp;theme=light&amp;widgetsVersion=ed20a2b%3A1601588405575&amp;width=550px" data-tweet-id="332173840220303361"></iframe></div>
                    <p><script async="" src="https://platform.twitter.com/widgets.js" charset="utf-8"></script></p></div>
            </div>
        </div>

    </div><!-- /#content -->
</div><!-- /#wrap -->

{% include footer.html %}
<script
        src="https://code.jquery.com/jquery-1.12.4.min.js"
        integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
        crossorigin="anonymous"></script>
<script type="text/javascript" src="/assets/cyclone-slider-pro/jquery.easing.1.3.js" id="jquery-easing-js"></script>
<script type="text/javascript" src="/assets/cyclone-slider-pro/libs/cycle2/jquery.cycle2.min.js" id="jquery-cycle2-js"></script>
<script type="text/javascript" src="/assets/cyclone-slider-pro/libs/cycle2/jquery.cycle2.swipe.min.js" id="jquery-cycle2-swipe-js"></script>
<script type="text/javascript" src="/assets/cyclone-slider-pro/templates/standard/script.js" id="cyclone-template-script-standard-js"></script>
<script type="text/javascript" src="/assets/cyclone-slider-pro/js/client.js" id="cyclone-client-js"></script>
<script type="text/javascript" src="/assets/js/underscore.min.js" id="underscore-js"></script>
<script type="text/javascript" src="/assets/js/backbone.min.js" id="backbone-js"></script>
</body>
