<!doctype html>
<html lang="en">
{% include head.html %}
<body>
{% include header.html %}
<div class="page-header margin-top">
    <div class="post-categories"><a href="/news/" rel="category tag">Back</a></div>
</div>

<div id="wrap" class="container" role="document">

    <div id="content" class="row-fluid">


        <div id="main" class="span12" role="main">
            <article class="post type-post status-publish format-standard hentry">
                <header>
                    <h1 class="entry-title">{{ postTitle }}</h1>
                </header>
                <div class="entry-content">
                    {{ content }}
                </div>
            </article>
        </div>
    </div>
</div>
{% include footer.html %}
{% include scripts.html %}
</body>
</html>
