<div id="sliderRow">
    <div class="cycloneslider cycloneslider-template-standard cycloneslider-width-responsive" id="cycloneslider-20-1" style="max-width: 100%;">
        <div class="cycloneslider-slides cycle-slideshow" data-cycle-allow-wrap="true" data-cycle-dynamic-height="off"
             data-cycle-auto-height="0" data-cycle-auto-height-easing="null" data-cycle-auto-height-speed="250"
             data-cycle-delay="0" data-cycle-easing="" data-cycle-fx="fade" data-cycle-hide-non-active="true"
             data-cycle-log="false" data-cycle-next="#cycloneslider-20-1 .cycloneslider-next"
             data-cycle-pager="#cycloneslider-20-1 .cycloneslider-pager" data-cycle-pause-on-hover="true"
             data-cycle-prev="#cycloneslider-20-1 .cycloneslider-prev" data-cycle-slides="> div" data-cycle-speed="1000"
             data-cycle-swipe="true" data-cycle-tile-count="7" data-cycle-tile-delay="100"
             data-cycle-tile-vertical="true" data-cycle-timeout="10000">
            <div class="cycloneslider-slide cycloneslider-slide-custom cycle-slide">
                <div class="span6">
                    <div class="thumb thumb-left"><img src="/assets/img/dashboard-2-1024x594.png" alt="Exceptionless Dashboard"></div>
                </div>
                <div class="span6"><h2>Don't let your users walk away in frustration</h2>
                    <p>Discover errors in your app you never knew were happening and use detailed error reports to
                        squash them with ease. Make your app Exceptionless!</p><a
                            href="https://be.exceptionless.io/signup?domain=exceptionless.com&amp;type=organic"
                            class="btn btn-large btn-primary">Sign up for FREE!</a></div>
                <div style="clear:both;"></div>
            </div>
            <div class="cycloneslider-slide cycloneslider-slide-custom cycle-slide cycle-slide-active">
                <div class="span6"><h2>Exceptionless makes error reporting a breeze</h2>
                    <p>Simply install the client and begin collecting unhandled exceptions right away. Use our fluent
                        API to send additional details about critical errors and be notified immediately.</p><a
                            href="tour/" class="btn btn-large btn-primary">Take the Tour</a></div>
                <div class="span6">
                    <div class="thumb thumb-right"><img src="/assets/img/toexceptionless.png" alt="Exceptionless submission code sample"></div>
                </div>
                <div style="clear:both;"></div>
            </div>
            <div class="cycloneslider-slide cycloneslider-slide-custom cycle-slide">
                <div class="span6">
                    <div class="thumb thumb-left"><img src="/assets/img/logs-2.jpg" alt="Exceptionless logs tracking"></div>
                </div>
                <div class="span6"><h2>Report Logs, Feature Usages, and more!</h2>
                    <p>You can send any type of event to your Exceptionless dashboard. Create tags for organization, and
                        you've got a robust event logging system!</p><a href="signup/"
                                                                        class="btn btn-large btn-primary">Sign up for
                        FREE!</a></div>
                <div style="clear:both;"></div>
            </div>
            <div class="cycloneslider-slide cycloneslider-slide-custom cycle-slide">
                <div class="span6"><h2>Fork Us! Exceptionless is Open Source</h2>
                    <p>Join the community and help us make the software world a better place. Collaborate, give
                        feedback, report bugs, and host Exceptionless yourself - for free.</p><a
                            href="https://github.com/exceptionless/Exceptionless" target="_blank"
                            class="btn btn-large btn-primary">Fork Us on GitHub!</a></div>
                <div class="span6">
                    <div class="thumb thumb-right"><img src="/assets/img/slider-github.jpg" alt="Exceptionless on GitHub"></div>
                </div>
                <div style="clear:both;"></div>
            </div>
        </div>
        <a href="#" class="cycloneslider-prev"> <span></span> </a> <a href="#" class="cycloneslider-next"> <span></span>
    </a></div>
</div>
