    {%- set pageTitle = title or site.title or '' %}
    {%- set pageTitle = pageTitle if (pageTitle == site.title) else pageTitle + ' - ' + site.title %}
    {%- set pageUrl = site.url + page.url %}
    {%- set pageDescription = description or site.title or '' %}
    {%- set pageImage = pageUrl + image or pageUrl + site.image %}
    {%- set pageRobots = "noindex,follow" if (pagination.pageNumber > 0 and pagination.size > 0) else "index,follow"  %}
    {%- set pageAuthor = author or site.author -%}
    {%- set cardType = cardType or site.twitterCardType or 'summary' %}
    {%- set ogType = ogType or site.ogType or 'article' -%}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">

    <title>{{ pageTitle }}</title>

    <meta name="description" content="{{ pageDescription }}">
    <meta name="robots" content="{{ pageRobots }}">
    <meta name="author" content="{{ pageAuthor }}">

    <link rel="canonical" href="{{ pageUrl }}">

    <!-- opengraph -->
    <meta property="og:title" content="{{ pageTitle }}">
    <meta property="og:type" content="{{ ogType }}">
    <meta property="og:url" content="{{ pageUrl }}">
    <meta property="og:description" content="{{ pageDescription }}">
    {% if pageImage %}<meta property="og:image" content="{{ pageImage }}">{% endif %}
    <!-- end opengraph -->

    <!-- twitter -->
    <meta name="twitter:card" content="{{ cardType }}">
    {%- if site.twitter %}<meta name="twitter:site" content="@{{ site.twitter }}">{% endif %}
    <meta name="twitter:url" content="{{ pageUrl }}">
    <meta name="twitter:title" content="{{ pageTitle }}">
    <meta name="twitter:description" content="{{ pageDescription }}">
    {% if pageImage %}<meta name="twitter:image" content="{{ pageImage }}">{% endif %}
    <!-- end twitter -->

    <!-- google tag manager -->
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.analyticsId }}"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', '{{ site.analyticsId }}');
    </script>
    <!-- end google tag manager -->

    <link rel="alternate" type="application/rss+xml" title="Exceptionless Feed" href="/feed.xml">
    <link rel="shortcut icon" href="/favicon.ico">