---
title: News
pagination:
    data: collections.posts
    size: 10
    reverse: true
---

<div style="max-width: 65%; margin: auto; margin-top: 50px; margin-bottom: 450px;">
    {% for post in pagination.items %}
    <article class="post type-post status-publish format-standard">
        <h2><a href="{{ post.url }}">{{ post.data.postTitle }}</a></h2>
        <div style="margin-top: 10px; margin-bottom: 10px;">
            <span>
                {{ post.data.author }}
            </span><br />
            <hr />
        </div>
        {{ post.data.content }}
    </article>
    {% endfor %}
    {% if pagination.pageLinks.length > 1 %}
    <nav class="post-nav">
        <ul class="pager">
            {% if pagination.previousPageLink %}
            <li class="next"><a href="{{ pagination.previousPageHref | url }}">Newer Articles</a></li>
            {% else %}
            <li class="next"><span>Newer Articles</span></li>
            {% endif %}

            {% if pagination.nextPageLink %}
            <li class="previous">
                <a href="{{ pagination.nextPageHref | url }}">Older Articles</a>
            </li>
            {% else %}
            <li class="previous"><span class="previous">Older Articles</span></li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>