<!doctype html>
<html lang="en">
{% include head.html %}
<body>
{% include header.html %}
<div class="page-header margin-top">
    <div class="post-categories"><a href="/news/" rel="category tag">Back</a></div>
</div>

<div id="wrap" class="container" role="document">

    <div id="content" class="row-fluid">


        <div id="main" class="span12" role="main">
            <article class="post type-post status-publish format-standard hentry">
                <header>
                    <h1 class="entry-title">{{ postTitle }}</h1>
                </header>
                <div class="entry-content">
                    {{ content }}
                </div>
            </article>
        </div>
    </div>
</div>
{% include footer.html %}
<script
        src="https://code.jquery.com/jquery-1.12.4.min.js"
        integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
        crossorigin="anonymous"></script>
<script type="text/javascript" src="/assets/cyclone-slider-pro/jquery.easing.1.3.js" id="jquery-easing-js"></script>
<script type="text/javascript" src="/assets/cyclone-slider-pro/libs/cycle2/jquery.cycle2.min.js" id="jquery-cycle2-js"></script>
<script type="text/javascript" src="/assets/cyclone-slider-pro/libs/cycle2/jquery.cycle2.swipe.min.js" id="jquery-cycle2-swipe-js"></script>
<script type="text/javascript" src="/assets/cyclone-slider-pro/templates/standard/script.js" id="cyclone-template-script-standard-js"></script>
<script type="text/javascript" src="/assets/cyclone-slider-pro/js/client.js" id="cyclone-client-js"></script>
<script type="text/javascript" src="/assets/js/underscore.min.js" id="underscore-js"></script>
<script type="text/javascript" src="/assets/js/backbone.min.js" id="backbone-js"></script>
<script type="text/javascript" src="https://s1.wp.com/wp-content/js/mustache.js" id="mustache-js"></script>
</body>
</html>
