<div id="footer-wrapper">
    <footer id="content-info" class="container" role="contentinfo">
        <div class="row-fluid">
            <div class="span4"><section id="text-2" class="widget-1 widget-first widget widget_text"><div class="widget-inner">			<div class="textwidget"><h3><span class="slash">//</span> Quick Links</h3>
                <ul class="footer-links clearfix">
                    <li><a href="/">Home</a></li>
                    <li><a href="/tour/">Tour</a></li>
                    <li><a href="/why/">Why?</a></li>
                    <li><a href="/pricing/">Pricing</a></li>
                    <li><a href="/news/">News</a></li>
                    <li><a href="https://github.com/exceptionless/Exceptionless/wiki">Help</a></li>
                </ul>
                <ul class="footer-links clearfix">
                    <li><a href="/contact/">Contact</a></li>
                    <li><a href="https://github.com/exceptionless/Exceptionless" target="_blank" rel="noopener noreferrer">GitHub</a></li>
                    <li><a href="/about/">About Us</a></li>
                    <li><a href="http://exceptionless.uservoice.com">Feedback</a></li>
                    <li><a href="/terms/">Terms of Use</a></li>
                    <li><a href="/privacy/">Privacy Policy</a></li>
                </ul></div>
            </div></section></div>
            <div class="span4"><section id="text-3" class="widget-1 widget-first widget widget_text"><div class="widget-inner">			<div class="textwidget"><h3><span class="slash">//</span> Stay In Touch</h3>
                <p>There are real people behind Exceptionless, so if you have a question or suggestion (no matter how small) please get in touch with us:</p>

                <ul class="social-icons-container">
                    <li>
                        <a href="http://twitter.com/exceptionless" target="_blank" class="social-icon social-icon-twitter" rel="noopener noreferrer">Twitter</a>
                    </li>
                    <li>
                        <a href="http://plus.google.com/b/111513069275546127753/111513069275546127753/posts" target="_blank" class="social-icon social-icon-googleplus" rel="noopener noreferrer">Google +</a>
                    </li>
                    <li>
                        <a href="http://www.facebook.com/exceptionless" target="_blank" class="social-icon social-icon-facebook" rel="noopener noreferrer">Facebook</a>
                    </li>
                    <li>
                        <a href="https://github.com/exceptionless/Exceptionless" target="_blank" class="social-icon social-icon-github" rel="noopener noreferrer">GitHub</a>
                    </li>
                </ul></div>
            </div></section></div>
            <div class="span4"><section id="text-4" class="widget-1 widget-first widget widget_text"><div class="widget-inner">			<div class="textwidget"> <h3><span class="slash">//</span> Newsletter</h3>

                <div id="newsletter">
                    <p>Subscribe to our newsletter and stay up to date with the latest news!</p>
                    <!--<form action="http://app.exceptionless.com/home/newsletter" method="post">
                        <input type="email" name="emailAddress" placeholder="Your Email" required>
                        <br>
                        <button class="btn" onclick="subscribeToNewsletter(); return false;">Subscribe</button>
                    </form>-->
                </div></div>
            </div></section></div>
        </div>
    </footer>
    <div class="copyrightContainer">
        <p class="copyright">© 2020 Exceptionless</p>
    </div>
</div>
